@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  /*Primary*/
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /*Neutral*/
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --Very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/

  /*Typography*/
  --Font-size: 15px;
  --Font-family1: "Big Shoulders Display", cursive;
  --Font-family2: "Lexend Deca", sans-serif;
  --Font-weight-thin: 400;
  --Font-weight2-bold: 700;
}

body {
  background-color: var(--Very-light-gray);
  height: 100vh;
  width: 100vw;
  font-size: var(--Font-size);
  display: grid;
  grid-template-columns: 19% 62% 19%;
  grid-template-rows: 12% 76% 12%;
}

main {
  background-color: var(--Dark-desaturated-blue);
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
}

.section1 {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.section2 {
  background-color: var(--Dark-cyan);
}
.section3 {
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section1,
.section2,
.section3 {
  padding: 13%;
}

h2 {
  font-family: var(--Font-family1);
  font-size: 39px;
  letter-spacing: 1px;
  color: var(--Very-light-gray);
  margin: 25px 0px;
}

p {
  font-family: var(--Font-family2);
  font-weight: var(--Font-weight-thin);
  color: var(--Transparent-white);
  margin: 20px 0px;
  line-height: 27px;
}

button{
    padding-inline: 35px;
    padding-block: 15px;
    border-radius: 25px;
    border: 2.5px solid;
    margin-top: 60px;
}

.section1 > .btn > button{
  color: var(--Bright-orange);
  font-family: var(--Font-family2);
  font-size: 16px;
}

.section2 > .btn > button{
  color: var(--Dark-cyan);
  font-family: var(--Font-family2);
  font-size: 16px;
}

.section3 > .btn > button{
  color: var(--Very-dark-cyan);
  font-family: var(--Font-family2);
  font-size: 16px;
}

.section1 > .btn > button:hover{
  border: 2.5px solid;
  color: var(--Very-light-gray);
  background-color: var(--Bright-orange);
}

.section2 > .btn > button:hover{
  border: 2.5px solid;
  color: var(--Very-light-gray);
  background-color: var(--Dark-cyan);
}

.section3 > .btn > button:hover{
  border: 2.5px solid;
  color: var(--Very-light-gray);
  background-color: var(--Very-dark-cyan);
}

@media (max-width: 375px){
  main {
    width: 375px;
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  body {
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 1% 93% 5%;
  }

  .section1 {
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  }
  
  .section3 {
    background-color: var(--Very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  }
}